<launch>
  <param name="LapCount" type="int" value="1"/>

  <!-- Supervisor Node -->
  <include file="$(find rr_supervisor)/launch/supervisor.launch" />

  <!-- Computer Vision Node -->
  <include file="$(find rr_computer_vision)/launch/computer_vision.launch">
    <arg name="config_file" value="$(find rr_computer_vision)/config/obstacle_avoidance_challenge.yaml" />
  </include>
  
</launch>