<!--@file computer_vision_base.launch
 -  @brief This launch file is used to run the lane detection node on each camera
 -  @author Matthew Post
 -  @author Toni Ogunmade(oluwatoni)
 -  @competition IARRC 2018
 -->
<launch>
  <arg name="camera" default=""/>
  <arg name="config_file" default=""/>

  <param name="HaarCascadeFile" type="string" value="$(find rr_computer_vision)/classifier_dev/haar_cascade.xml"/>

  <node pkg="rr_computer_vision" type="rr_computer_vision" name="rr_computer_vision" output="screen"/>
</launch>