<!--@file computer_vision_base.launch
 -  @brief This launch file is used to run the lane detection node on each camera
 -  @author Matthew Post
 -  @author Toni Ogunmade(oluwatoni)
 -  @competition IARRC 2018
 -->
<launch>
  <arg name="config_file" default="$(find rr_computer_vision)/config/urban_road_challenge.yaml"/>

  <param name="LaneDetectionParamsFile" type="string" value="$(arg config_file)"/>

  <!-- Launch ZED camera wrapper -->
  <include file="$(find zed_wrapper)/launch/zed.launch"> </include>
  
  <!-- Computer Vision Node -->
  <node pkg="rr_computer_vision" type="rr_computer_vision" name="rr_computer_vision" output="screen"/>
</launch>